*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background: rgb(255,117,46);
    background: linear-gradient(90deg, rgba(255,117,46,0.6) 0%, rgba(39,39,133,0.8) 100%); 
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}